<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <div class="new_container">   
    <div class="container">
        <div class="section">
            <div class="row">
            <div class="col l3 m3 s12"></div>
                <div class="col l6 m6 s12">
                    <form method="POST" action="/auth/login">
                        <div class="card-panel z-depth-5">
                            <h5 class="center">🅻🅾🅶 🅸🅽</h5>
                            <p class="center">Welcome!</p>              
                            <div class="input-field">
                                <input type="email" name="email"  placeholder="Email">
                            </div>
                            
                            <div class="input-field">
                                <input type="password" name="password" placeholder="Password">
                            </div>
                            <p class="left">Don't have an account?</p>  <p><a href="/auth/signup" class="modal-trigger">SignUp</a></p>
                            <input type="submit" value="Log In" class="btn left col s12">
                        
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- <div class="login_img">
        <div class="wrapper_one">
            <h2 class="text">Log In 
            </h2>
            <form method="POST" action="/auth/login">
                <div class="input-field">
                    <input type="email" id="auth-email" name="email" placeholder="Email">
                </div>
                
                <div class="input-field">
                    <input type="password" id="auth-password" name="password" placeholder="Password">     
                </div>
                <p class="left" id="text">Don't have an account?</p>  <p><a href="/auth/signup" class="modal-trigger">SignUp</a></p>          
                <input type="submit" value="Log In" class="btn left col s10">
                
                    
                
            </form>
            <div id="overlay-area"></div>
        </div>
    </div> -->
</body>
</html>
