<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
  <div class="signup_container">
      <div class="wrapper">
      <h2 class="new">
          SignUp 
      </h2>
      <form method="POST" action="/auth/signup">
          <input type="text" name="name" id="new-name" placeholder="Username">
          <input type="email" name="email" id="new-email" placeholder="Email">
          <input type="password" name="password" id="new-password" placeholder="Password">
      
          <input type="submit" value="Sign Up">
          <div class="bottom-text">
              <h4>Already a Member?<a href="/auth/login">Log In</a></h4>   
          </div>
      
      </form>
    </div>
  </div>
  
  <!-- <div class="container ">
  
    <form method="POST" action="/auth/signup" class="center-align col s8 m4 offset-m3">
      <h1>Sign Up</h1>
      <div class="row" >
        <div class="input-field col s10 ">
          <input id="user_name" type="text" name=‘username’ placeholder="Username" required/>
          
          <span class="helper-text">*Only numbers and letters</span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10">
          <input id="user_email" type="email" name="email" onChange={this.getInput} placeholder="Email Address" required/>
         
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10 ">
          <input id="user_password" type="password" name="password" onChange={this.getInput} placeholder="Password" required/>
          
          <span class="helper-text">*Must be 9 characters, letters and numbers</span>
          <p class="left">Already have an account? </p> <p><a href="/auth/login" class="modal-trigger"> login</a></p>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
    </form>
  </div>
 -->


    <!-- <div class="container" id="content">
        <div class="row">
          
          <div class="col l6 m6 s12">
            <form method="POST" action="/auth/signup" class="center-align cols12 .m6 offset-m3">
                <div class="card-panel z-depth-5">
                  <h5 class="center">Register</h5>
                  <p class="center">Join our Healthy community!</p>
                  <div class="input-field">
                    
                    <input type="text" name="name" placeholder="Username">
                  </div>
                  
                  <div class="input-field">
                    <input type="email" name="email"  placeholder="Email">
                  </div>
                  
                  <div class="input-field">
                    <input type="password" name="password" placeholder="Password">
                  </div>
                  
                    
                  
                  <p class="left">Already have an account? </p> <p><a href="/auth/login" class="modal-trigger"> login</a></p>
                  <input type="submit" value="Sign Up" class="btn left col s12">
                
                  <div class="clearfix"></div>
              </div>
            </form>
            
          </div>
          
      
          
          
        </div>
    </div>
    </div>
  </div> -->

   
</body>
</html>