<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
  <!-- <div class="signup_container">
      <div class="wrapper">
      <h2 class="new">
          SignUp 
      </h2>
      <form method="POST" action="/auth/signup">
          <input type="text" name="name" id="new-name" placeholder="Username">
          <input type="email" name="email" id="new-email" placeholder="Email">
          <input type="password" name="password" id="new-password" placeholder="Password">
      
          <input type="submit" value="Sign Up">
          <div class="bottom-text">
              <h4>Already a Member?<a href="/auth/login">Log In</a></h4>   
          </div>
      
      </form>
    </div>
  </div> -->
 
<div class="new_container">   
  <div class="container">
      <div class="section">
          <div class="row">
          <div class="col l3 m3 s12"></div>
              <div class="col l6 m6 s12">
                  <form method="POST" action="/auth/login">
                      <div class="card-panel z-depth-5">
                        <h5 class="center">₵ɄⱠ₮ɄⱤɆĐ ⱤɆ₵ł₱Ɇ₴</h5>
                        <p class="center">Join our Healthy community!</p>
                        <div class="input-field">
                          
                          <input type="text" name="name" placeholder="Username">
                        </div>
                        
                        <div class="input-field">
                          <input type="email" name="email"  placeholder="Email">
                        </div>
                          
                          <div class="input-field">
                              <input type="password" name="password" placeholder="Password">
                          </div>
                          <p class="left">Already have an account? </p> <p><a href="/auth/login" class="modal-trigger"> login</a></p>
                          <input type="submit" value="Sign Up" class="btn left col s12">
                
                          <div class="clearfix"></div>
                      </div>
                  </form>
              </div>
          </div>
          </div>
      </div>
  </div>
</body>
</html>