<h2>My Go to recipes</h2>

<ul>
    <% favorites.forEach(favorites => { %>
       <li> <%= favorites.name %> </li>
       <li> <img src="<%= favorites.img_url %>"width=200> </li>

       <form method="POST" action="/favorites/<%= favorites.id %>/?_method=DELETE">
           <input type="submit" value="Delete">
       </form>
    <% }) %>
</ul> 