<div class="box">
    <form method="GET" action="/recipes">
        <!-- <label for="recipeName">Enter recipe</label> -->
        <input type="text" id="recipeName" name="q" placeholder="Enter recipe Name">
        <input type="submit" value="search" id="Search">
        <i class="fas fa-search" aria-hidden="true"></i>
    </form>
</div>





