<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />  -->
    
    <!--Import Google Material Icon Font-->
    <!-- <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    /> -->
    <!-- Compiled and minified CSS -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />  -->

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Delicious Recipes </title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div>  
                <h1 class="title">≋D≋e≋l≋i≋c≋i≋o≋u≋s≋ ≋R≋e≋c≋i≋p≋e≋s≋ </h1>
                <h3 class="signp"><a href="/">Home</a></h3>

                
                <ul class="bc">
                    <% if (!currentUser) { %> 
                        <li class="signup"><a href="/auth/signup">SignUp</a></li>
                        <li class="signup"><a href="/auth/login">LogIn/</a></li>
                    <% } else { %>
                        <li class="signup"><a href="/auth/logout">LogOut</a></li>
                        <li class="signup"><a href="/profile">Profile/</a></li>
                    <% } %>
                </ul>
            </div>
        </nav>
    </header> 

    <%- include('partials/alerts') %>
    <%- body %>
    
<footer class="footer">Develop by ClairVisual</footer>
    
</body>
</html>