
<h2>
    <header>
        <a href="/"><%= currentUser.name %>'s Profile</a>
    </header>
    
</h2>

<div class="box">
    <form action="/favorites">
        <!-- <label for="recipeName">Enter recipe</label> -->

        <input type="submit" value="favourites" id="favs">
    </form>
</div>
