
<h2>
    <!-- // Displays currentUser name -->
    <header class="profile_header">
        <%= currentUser.name.toUpperCase() %>'s Profile</a>
    </header>
    
</h2>
    <!-- // link to get to favorites page -->
<div class="box">
 <h3 class="profile_one">Favorites: <a href="/favorites">Show me</a></h3>   
</div>
