@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --main-bg: rgb(59, 140, 167);
  --main-red-color: #d12828;
}
*,
*::before,
*::after {
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-image: url("https://images.unsplash.com/photo-1556178676-00b901fb09b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1330&q=80");
    -webkit-background-size: cover;
    background-size: cover;
    color: red;
    font-family: 'Dancing Script', cursive;
}

/* wrapper 1 sign up form*/
.wrapper {
    width: 400px;
    height: 320px;
    color: #000;
    top: 59%;
    left: 50%;
    padding: 15px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow: 4px 4px 35px rgb(22, 189, 108);
}
h2 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-bottom:  8%;
    font-family: 'Dancing Script', cursive;
}
.wrapper input {
    width: 100%;
    margin-bottom: 20px;
}
.wrapper input[type=email], .wrapper input[type=password] {
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    outline: none;
    font-size: 16px;
    opacity: 1;
    color: rgb(219, 199, 199);
}

.wrapper input[type=submit] {
    border: none;
    outline: none;
    height: 40 px;
    background: #f6648b;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.wrapper input[type=submit] :hover {
    cursor: pointer;
}
.wrapper a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
}
.wrapper a:hover {
    color: #fff;
    opacity: 1;
}

/* wrapper 2 login form*/
.wrapper_one {
    width: 400px;
    height: 320px;
    color: #000;
    top: 59%;
    left: 50%;
    padding: 55px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow: 4px 4px 35px rgb(22, 189, 108);
}

.wrapper_one input {
    width: 100%;
    margin-bottom: 20px;
}
.wrapper_one input[type=email], .wrapper input[type=password] {
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    outline: none;
    font-size: 16px;
    opacity: 1;
    color: rgb(219, 199, 199);
}

.wrapper_one input[type=submit] {
    border: none;
    outline: none;
    height: 40 px;
    background: #f6648b;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.wrapper_one input[type=submit] :hover {
    cursor: pointer;
}
.wrapper_one a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
}
.wrapper_one a:hover {
    color: #fff;
    opacity: 1;
}

.bottom-text {
    color: #fff;
}
.bottom-text input{
    width: 10%;
    float: left;
}
.bottom-text a {
    float: right;
}

#overlay-area {
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    z-index: -5;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}

.navbar {
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #d7290a 55%, #FF99AC 100%);
    height: 50px;
    display: inline-block;
}

.profile {
    position: relative;
    bottom: 30px;
}
.signup {
    position: relative;
    bottom: 0px;
    color: black;
    float: right;
}

 
footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
   }
#Search {
    cursor: pointer;
    font-size: 15px;
    border-radius: 4px;
    padding: 3px 12px;
    color: #ff0000
} 
.box {
    text-align: center;
}

.title {
    position: relative;
    /* bottom: px; */
    font-size: 15px;
    color: seashell;
    --shadow-color: #FF9E9E;
    --shadow-color-light: white;
    text-shadow: 10px 10px 0px #c11a2b;
    text-align: center;
    
}

a:hover {
    color: white;
}

a:link {   
    text-decoration: none;
  }
h4 {
    color: #fff;
}

.bc {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden;  */
    /* background-color: #333333; */ 
}

h3 {
    float: left;
    bottom: 10px;
}

.container {
   background-color: red;
   padding: 10px;
   display: grid
} 
.dog {
    10px;
}
.dogo {
    margin: 5px;
    list-style-type: none;

}
/* .container::-webkit-scrollbar{
    width: 0;
}
.container .item{
    width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: white;
    margin-right: 2px;
} */